- gfm_link_start = "<a href='#{help_page_path('user/markdown')}' target='_blank' rel='noopener noreferrer'>".html_safe
- link_end = '</a>'.html_safe

= form_for @appearance, url: admin_appearances_path do |f|
  = form_errors(@appearance)

  %fieldset.app_logo
    %legend
      = _('Navigation bar:')
  .form-group.row
    = f.label :header_logo, 'Header logo', class: 'col-sm-2 col-form-label pt-0'
    .col-sm-10
      - if @appearance.header_logo?
        = image_tag @appearance.header_logo_path, class: 'appearance-light-logo-preview'
        - if @appearance.persisted?
          %br
          = link_to _('Remove header logo'), header_logos_admin_appearances_path, data: { confirm: _('Header logo will be removed. Are you sure?') }, method: :delete, class: "btn btn-inverted btn-remove btn-sm remove-logo"
        %hr
      = f.hidden_field :header_logo_cache
      = f.file_field :header_logo, class: ""
      .hint
        = _('Maximum file size is 1MB. Pages are optimized for a 28px tall header logo')

  %fieldset.app_logo
    %legend
      = _('Favicon:')
  .form-group.row
    = f.label :favicon, _('Favicon'), class: 'col-sm-2 col-form-label pt-0'
    .col-sm-10
      - if @appearance.favicon?
        = image_tag @appearance.favicon_path, class: 'appearance-light-logo-preview'
        - if @appearance.persisted?
          %br
          = link_to _('Remove favicon'), favicon_admin_appearances_path, data: { confirm: _('Favicon will be removed. Are you sure?') }, method: :delete, class: "btn btn-inverted btn-remove btn-sm remove-logo"
        %hr
      = f.hidden_field :favicon_cache
      = f.file_field :favicon, class: ''
      .hint
        = _('Maximum file size is 1MB. Image size must be 32x32px. Allowed image formats are %{favicon_extension_whitelist}.') % { favicon_extension_whitelist: favicon_extension_whitelist }
        %br
        = _('Images with incorrect dimensions are not resized automatically, and may result in unexpected behavior.')

  %fieldset.sign-in
    %legend
      = _('Sign in/Sign up pages:')
  .form-group.row
    = f.label :title, class: 'col-sm-2 col-form-label'
    .col-sm-10
      = f.text_field :title, class: "form-control"
  .form-group.row
    = f.label :description, class: 'col-sm-2 col-form-label'
    .col-sm-10
      = f.text_area :description, class: "form-control", rows: 10
      .hint
        = _('Description parsed with %{gfm_link_start}GitLab Flavored Markdown%{link_end}.').html_safe % { gfm_link_start: gfm_link_start, link_end: link_end }
  .form-group.row
    = f.label :logo, class: 'col-sm-2 col-form-label pt-0'
    .col-sm-10
      - if @appearance.logo?
        = image_tag @appearance.logo_path, class: 'appearance-logo-preview'
        - if @appearance.persisted?
          %br
          = link_to _('Remove logo'), logo_admin_appearances_path, data: { confirm: _('Logo will be removed. Are you sure?') }, method: :delete, class: "btn btn-inverted btn-remove btn-sm remove-logo"
        %hr
      = f.hidden_field :logo_cache
      = f.file_field :logo, class: ""
      .hint
        = _('Maximum file size is 1MB. Pages are optimized for a 640x360 px logo.')

  %fieldset
    %legend
      = _('New project pages:')
  .form-group.row
    = f.label :new_project_guidelines, class: 'col-sm-2 col-form-label'
    .col-sm-10
      = f.text_area :new_project_guidelines, class: "form-control", rows: 10
      .hint
        = _('Guidelines parsed with %{gfm_link_start}GitLab Flavored Markdown%{link_end}.').html_safe % { gfm_link_start: gfm_link_start, link_end: link_end }

  .form-actions
    = f.submit _('Save'), class: 'btn btn-success append-right-10'
    - if @appearance.persisted?
      = _('Preview last save:')
      = link_to _('Sign-in page'), preview_sign_in_admin_appearances_path, class: 'btn', target: '_blank', rel: 'noopener noreferrer'
      = link_to _('New project page'), new_project_path, class: 'btn', target: '_blank', rel: 'noopener noreferrer'

    - if @appearance.updated_at
      %span.float-right
        = _('Last edit %{updated_at_time_ago}').html_safe % { updated_at_time_ago: time_ago_with_tooltip(@appearance.updated_at) }
