- project = local_assigns.fetch(:project)

.gl-responsive-table-row{ id: dom_id(job) }
  .table-section.section-25.section-wrap
    .table-mobile-header{ role: 'rowheader' }= _('Job')
    .table-mobile-content
      .branch-commit
        - if can?(current_user, :read_build, job)
          = link_to project_job_path(project, job) do
            %span.build-link ##{job.id}
        - else
          %span.build-link ##{job.id}

        - if job.ref
          .icon-container
            = job.tag? ? icon('tag') : sprite_icon('fork', css_class: 'sprite')
          = link_to job.ref, project_ref_path(project, job.ref), class: 'ref-name'
        - else
          .light none
        .icon-container.commit-icon
          = custom_icon('icon_commit')

        = link_to job.short_sha, project_commit_path(project, job.sha), class: 'commit-sha'

  .table-section.section-15.section-wrap
    .table-mobile-header{ role: 'rowheader' }= _('Name')
    .table-mobile-content
      = job.name

  .table-section.section-20
    .table-mobile-header{ role: 'rowheader' }= _('Creation date')
    .table-mobile-content
      %p.finished-at
        = icon("calendar")
        %span= time_ago_with_tooltip(job.created_at)

  .table-section.section-20
    .table-mobile-header{ role: 'rowheader' }= _('Expiration date')
    .table-mobile-content
      - if job.artifacts_expire_at
        %p.finished-at
          = icon("calendar")
          %span= time_ago_with_tooltip(job.artifacts_expire_at)

  .table-section.section-10
    .table-mobile-header{ role: 'rowheader' }= _('Size')
    .table-mobile-content
      = number_to_human_size(job.sum_artifacts_size, precision: 2)

  .table-section.table-button-footer.section-10
    .btn-group.table-action-buttons
      .btn-group
        - if can?(current_user, :read_build, job)
          = link_to download_project_job_artifacts_path(job.project, job), rel: 'nofollow', download: '', title: _('Download artifacts'), data: { placement: 'top', container: 'body' }, ref: 'tooltip', aria: { label: _('Download artifacts') }, class: 'btn btn-build has-tooltip' do
            = sprite_icon('download')

          = link_to browse_project_job_artifacts_path(job.project, job), rel: 'nofollow', title: _('Browse artifacts'), data: { placement: 'top', container: 'body' }, ref: 'tooltip', aria: { label: _('Browse artifacts') }, class: 'btn btn-build has-tooltip' do
            = sprite_icon('earth')

        - if can?(current_user, :destroy_artifacts, job.project)
          = link_to namespace_project_job_artifacts_path(job.project.namespace, job.project, job), data: { placement: 'top', container: 'body', confirm: _('Are you sure you want to delete these artifacts?') }, method: :delete, title: _('Delete artifacts'), ref: 'tooltip', aria: { label: _('Delete artifacts') }, class: 'btn btn-remove has-tooltip' do
            = icon('remove')
